@{
    ViewBag.Title = "Home Page";
}

<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape" />
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
        </div>
        <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Carousel-->
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3 nav-fill" id="ex-with-icons" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1"
           role="tab" aria-controls="ex-with-icons-tabs-1" aria-selected="true">
            <i class="fa-solid fa-campground me-2 fa-2xl"></i><span class="category">營隊活動</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2" role="tab"
           aria-controls="ex-with-icons-tabs-2" aria-selected="false">
            <i class="fa-solid fa-seedling me-2 fa-2xl"></i><span class="category">體驗活動</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-3" role="tab"
           aria-controls="ex-with-icons-tabs-3" aria-selected="false">
            <i class="fa-solid fa-palette me-2 fa-2xl"></i><span class="category">才藝課程</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex-with-icons-tab-4" data-mdb-toggle="tab" href="#ex-with-icons-tabs-4" role="tab"
           aria-controls="ex-with-icons-tabs-4" aria-selected="false">
            <i class="fa-solid fa-book-open me-2 fa-2xl"></i><span class="category">學科課程</span>
        </a>
    </li>
</ul>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="tab-content" id="ex-with-icons-content">
    <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel"
         aria-labelledby="ex-with-icons-tab-1">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="ex-with-icons-tabs-4" role="tabpanel" aria-labelledby="ex-with-icons-tab-4">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card">
                    <div class="position-relative overflow-hidden">
                        <a href="">
                            <img class="card-img-top transform"
                                 src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                        </a>
                        <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                            <button type="button" class="btn btn-white btn-floating btn-lg">
                                <i class="fa-regular fa-heart fa-xl pe-none"></i>
                            </button>
                        </div>
                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                            科學益智
                        </div>
                    </div>
                    <div class="p-4 pb-0">
                        <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                        <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                        <h5 class="text-end mb-3">$12,345</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                        </small>
                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-star text-primary me-2"></i>3.5
                        </small>
                        <small class="flex-fill text-center py-2">
                            <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center wow fadeInUp m-3" data-wow-delay="0.1s">
        <a class="btn btn-primary py-3 px-5" href=""><span class="category">檢視所有活動</span></a>
    </div>
</div>
<!-- Tabs content -->
<hr>
<!--地區-->
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white  bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
            </div>
        </div>
    </div>
</div>
<!--地區-->
<!--card-->
<div id="tab-1" class="tab-pane fade show p-0 active">
    <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="card">
                <div class="position-relative overflow-hidden">
                    <a href="">
                        <img class="card-img-top transform"
                             src="https://mdbcdn.b-cdn.net/img/new/standard/city/045.webp" alt="">
                    </a>
                    <div class="position-absolute top-0 end-0" style="margin-top: 5px;margin-right: 5px;">
                        <button type="button" class="btn btn-white btn-floating btn-lg">
                            <i class="fa-regular fa-heart fa-xl pe-none"></i>
                        </button>
                    </div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                        科學益智
                    </div>
                </div>
                <div class="p-4 pb-0">
                    <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                    <p>123 Street, New York, USA. 123 Street, New York, USA. 123 Street, New York, USA.</p>
                    <h5 class="text-end mb-3">$12,345</h5>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-map-marker-alt text-primary me-2"></i>台北市
                    </small>
                    <small class="flex-fill text-center border-end py-2">
                        <i class="fa fa-star text-primary me-2"></i>3.5
                    </small>
                    <small class="flex-fill text-center py-2">
                        <i class="fa-solid fa-calendar-days text-primary me-2"></i>體驗
                    </small>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>
<!--sticky bottom-->
<div class="sticky-md-bottom text-center">
    <button type="button" class="btn btn-dark btn-floating btn-lg">
        <i class="fa fa-search fa-lg pe-none"></i>
    </button>
</div>
<!--sticky bottom-->